<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Off The Shelf</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    </head>
    <body>
        <header>
            <div id="headerWrapper">
                <img src="../pictures/logo.png" alt="logo">
                <h1 a href="#" id="name">Off The Shelf</h1>
                <nav id="hamburguer">
                    <ul id="hambMenu">
                        <li class="item"><a href="#" class="hLink">Home</a></li>
                        <li class="item"><a href="#" class="hLink">Best Restaurants</a></li>
                        <li class="item"><a href="#" class="hLink">Search</a></li>
                        <li class="item"><a href="#"class="hLink">Orders</a></li>
                    </ul>
                    <div id="hamb">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </nav>
                <iconify-icon icon="material-symbols:shopping-cart-outline-rounded" id="cart"></iconify-icon>
                <div id="hSearch">
                    <iconify-icon icon="simple-line-icons:magnifier"></iconify-icon>
                    <input id="hSearchText" type="text" placeholder="search">
                </div>
                <h2 a href="#" id="headerLogin">Login</h2>
            </div>
        </header>
        <footer>
            <ul id="fItems">
                <li class="fLink"><a href="#">Contact Us</a></li>
                <li class="fLink"><a href="#">About Us</a></li>
                <li class="fLink"><a href="#">FAQ</a></li>
            </ul>
            <p id="cp">Copyright &copy; Copyright License</p>
          </footer>
    </body>
</html>