<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Off The Shelf</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
        <script src="../javascript/header.js" defer></script>
        <script src="../javascript/book.js" defer></script>

    </head>
    <body>
        <header>
            <div id="headerWrapper">
                <div id ="imgTitle">
                    <img src="../pictures/logo.png" alt="logo">
                    <h1 a href="#" id="name">Off The Shelf</h1>
                </div>
                <div id="headerWrapper2">
                <div id="headerButtons">
                    <button id="addWish" type="submit">
                        <iconify-icon icon="mdi:cards-heart-outline"></iconify-icon>
                    </button>
                    <button id="hCart" type="submit">
                        <iconify-icon icon="material-symbols:shopping-cart-outline-rounded" id="cart"></iconify-icon>
                    </button>
                </div>
                <div id="hSearch">
                    <button id="magnifierSearch">
                        <iconify-icon icon="simple-line-icons:magnifier"></iconify-icon>
                    </button>
                    <input id="hSearchText" type="text" placeholder="search">
                </div>
                <div id="hLog">
                    <button id="headerLogin" type="submit">Login</button>
                </div>
                <nav id="hamburguer">
                    <ul id="hambMenu">
                        <li class="item"><a href="#" class="hLink">Home</a></li>
                        <li class="item"><a href="#" class="hLink">Books</a></li>
                        <li class="item"><a href="#" class="hLink">Collections</a></li>
                        <li class="item"><a href="#"class="hLink">Categories</a></li>
                    </ul>
                    <div id="hamb">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </nav>
            </div>
            </div>
        </header>
        <main>
            <!--book starts here-->
            <div id="returnBook">
                <iconify-icon icon="mdi:arrow-left-bottom"></iconify-icon>
                <h1>Return</h1>
            </div>
            <div id="bookInfo">
                <img src="../pictures/logo.png" alt="bookPhoto" id="bookP">
                <button id="addWish" type="submit">
                    <iconify-icon icon="mdi:cards-heart-outline"></iconify-icon>
                </button>
                <button id="buy" type="submit">Comprar</button>
                <div id="bookDetails">
                    <span id="description" class="bookLable activeLabel">Sinopse</span>
                    <span id="reviewBook" class="bookLable">Reviews</span>
                    <span id="details" class="bookLable">Detalhes</span>
                    <span id="autor" class="bookLable">Autor</span>
                    <span id="commentBook" class="bookLable">Comentários</span>
                </div>
                <div id="bookDetailed">
                    <article id="bookDescription" class="bookContents">Lorem ipsum 1</article>
                    <div id="bookReview" class="bookContents hideBook">
                        <div id="revWrapper2">
                            <div id="revWrapper">
                                <div id="rating">
                                    <p>5</p>
                                    <iconify-icon icon="material-symbols:star" id="star" style="color: #ffc700;"></iconify-icon>
                                </div>
                                <div id="revHeader">
                                    <a href="#" class="username">username</a>
                                    <img src="../pictures/default.jpg" alt="userPhoto" class="bookU">
                                </div>
                            </div>
                            <p>Content of review</p>
                        </div>
                    </div>
                    <table id="detailsBook" class="bookContents hideBook">
                        <tr>
                            <td class="detailsHeader">Título:</td>
                            <td class="detailsText">O Senhor dos Anéis</td>
                        </tr>
                        <tr>
                            <td class="detailsHeader">ISBN:</td>
                            <td class="detailsText">978-3-16-148410-0</td>
                        </tr>
                        <tr>
                            <td class="detailsHeader">Ano:</td>
                            <td class="detailsText">1954</td>
                        </tr>
                        <tr>
                            <td class="detailsHeader">Edição:</td>
                            <td class="detailsText">13</td>
                        </tr>
                        <tr>
                            <td class="detailsHeader">Género:</td>
                            <td class="detailsText">Fantasia</td>
                        </tr>
                        <tr>
                            <td class="detailsHeader">Editora:</td>
                            <td class="detailsText">Porto Editora</td>
                        </tr>
                    </table>
                    <div id="bookAutor" class="bookContents hideBook">
                        <p>
                            Lorem ipsum 4
                        </p>
                    </div>
                    <div id="bookComments" class="bookContents hideBook">
                        <div id="comBook">
                            <div id="comHeader">
                                <a href="#" class="username">username</a>
                                <img src="../pictures/default.jpg" alt="userPhoto" class="bookU">
                            </div>
                        <p id="comCont">Contents of comment</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--book ends here-->
        </main>
        <footer>
            <ul id="fItems">
                <li class="fLink"><a href="#">Contact Us</a></li>
                <li class="fLink"><a href="#">About Us</a></li>
                <li class="fLink"><a href="#">FAQ</a></li>
            </ul>
            <p id="cp">Copyright &copy; Copyright License</p>
          </footer>
    </body>
</html>