<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Off The Shelf</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
        <script src="../javascript/header.js" defer></script>
    </head>
    <body>
        <header>
            <div id="headerWrapper">
                <div id ="imgTitle">
                    <img src="../pictures/logo.png" alt="logo">
                    <h1 a href="#" id="name">Off The Shelf</h1>
                </div>
                <div id="headerWrapper2">
                <div id="headerButtons">
                    <button id="addWish" type="submit">
                        <iconify-icon icon="mdi:cards-heart-outline"></iconify-icon>
                    </button>
                    <button id="hCart" type="submit">
                        <iconify-icon icon="material-symbols:shopping-cart-outline-rounded" id="cart"></iconify-icon>
                    </button>
                </div>
                <div id="hSearch">
                    <button id="magnifierSearch">
                        <iconify-icon icon="simple-line-icons:magnifier"></iconify-icon>
                    </button>
                    <input id="hSearchText" type="text" placeholder="search">
                </div>
                <div id="hLog">
                    <button id="headerLogin" type="submit">Login</button>
                </div>
                <nav id="hamburguer">
                    <ul id="hambMenu">
                        <li class="item"><a href="#" class="hLink">Home</a></li>
                        <li class="item"><a href="#" class="hLink">Books</a></li>
                        <li class="item"><a href="#" class="hLink">Collections</a></li>
                        <li class="item"><a href="#"class="hLink">Categories</a></li>
                    </ul>
                    <div id="hamb">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </nav>
            </div>
            </div>
        </header>
        <main>
            <!-- Edit Book starts here-->
            <h1>Editar Livro</h1>
            <div id="editWrapper">
                <img src="../pictures/default.jpg" id="userPic" alt="userPicture">
                <br/>
                <button type="submit" id="photo_button" class="edit_button">
                    <figcaption>Mudar foto <iconify-icon icon="mdi:pencil"></iconify-icon></figcaption>
                </button>
                <button type="submit" id="delete_button" class="edit_button">Apagar Livro</button>
            </div>
            <form id="fedit" action="" method="post">
                <input type="text" name="título" class="editor" placeholder="Título">
                <input type="text" name="título" class="editor" placeholder="Autores (separados apenas por uma vírgula)">
                <input type="text" name="ISBN" class="editor" placeholder="ISBN">
                <input type="text" name="ano" class="editor" placeholder="Ano">
                <input type="text" name="preço" class="editor" placeholder="Preço">
                <input type="text" name="stock" class="editor" placeholder="Stock">
                <input type="text" name="edição" class="editor" placeholder="Edição">
                <input type="text" name="descrição" class="editor" placeholder="Descrição">
                <input type="text" name="categoria" class="editor" placeholder="Categoria">
                <input type="text" name="editora" class="editor" placeholder="Editora">
                <button type="submit" id="edit_button" class="edit_button">Confirmar mudanças</button> 
            </form> 
            <!--Edit Book ends here-->
        </main>
        <footer>
            <ul id="fItems">
                <li class="fLink"><a href="#">Contact Us</a></li>
                <li class="fLink"><a href="#">About Us</a></li>
                <li class="fLink"><a href="#">FAQ</a></li>
            </ul>
            <p id="cp">Copyright &copy; Copyright License</p>
          </footer>
    </body>
</html>