openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW Off The Shelf Web API'
  description: 'Web Resources Specification (A7) for Off The Shelf'

servers:
- url: http://lbaw.fe.up.pt
  description: Production server

externalDocs:
  description: Find more info here.
  url: https://git.fe.up.pt/lbaw/lbaw2223/lbaw2232/-/tree/main/

tags:
  - name: 'M01: Authentication and Profile'
  - name: 'M02: Products and Categories'
  - name: 'M03: Reviews'
  - name: 'M04: Cart, Wishlist and Collections'
  - name: 'M05: Administration and Static Pages'

paths:
 /login:
   get:
     operationId: R101
     summary: 'R101: Login Form'
     description: 'Provide login form. Access: PUB'
     tags:
       - 'M01: Authentication and Profile'
     responses:
       '200':
         description: 'Ok. Show Log-in UI'
       '302':
          description: 'Redirect if user is logged in.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Authenticated. Redirecting to user dashboard.'
                  value: '/dashboard'
   post:
     operationId: R102
     summary: 'R102: Login Action'
     description: 'Processes the login form submission. Access: PUB'
     tags:
       - 'M01: Authentication and Profile'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               email:          # <!--- form field name
                 type: string
               password:    # <!--- form field name
                 type: string
             required:
                  - email
                  - password
     responses:
       '302':
         description: 'Redirect after processing the login credentials.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Error:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

 /logout:

   post:
     operationId: R103
     summary: 'R103: Logout Action'
     description: 'Logout the current authenticated user. Access: USR, ADM'
     tags:
       - 'M01: Authentication and Profile'
     responses:
       '302':
         description: 'Redirect after processing logout.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful logout. Redirect to login form.'
                 value: '/login'

 register:
   get:
     operationId: R104
     summary: 'R104: Register Form'
     description: 'Provide new user registration form. Access: PUB'
     tags:
       - 'M01: Authentication and Profile'
     responses:
       '200':
         description: 'Ok. Show Sign-Up UI'
       '302':
          description: 'Redirect if user is logged in.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Authenticated. Redirect to user dashboard.'
                  value: '/dashboard'

   post:
     operationId: R105
     summary: 'R105: Register Action'
     description: 'Processes the new user registration form submission. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               name:
                 type: string
               email:
                 type: string
               picture:
                 type: string
                 format: binary
             required:
                  - email
                  - password

     responses:
       '302':
         description: 'Redirect after processing the new user information.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Failure:
                 description: 'Failed authentication. Redirect to register form.'
                 value: '/register'
                
 /users/{id}:
   get:
     operationId: R106
     summary: 'R106: View user profile'
     description: 'Show the individual user profile. Access: USR'
     tags:
       - 'M01: Authentication and Profile'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
       '200':
         description: 'Ok. Show User Profile UI'
       '404':
          description: 'Not Found. Show 404 message'

   patch:
      operationId: R107
      summary: 'R107: Edit Profile'
      description: 'Edit account information. Access: ACO'
      tags:
        - 'M01: Authentication and Profile'

      parameters:
        - in: path
          name: email
          schema:
            type: string
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                user_password:
                  type: string
                user_address:
                  type: string
                phone:
                  type: integer

      responses:
        '200':
          description: 'Successful'
        "401":
          description: "Unauthorized"

    delete:
      operationId: R108
      summary: 'R108: Delete Account'
      description: 'Delete account. Access: ACO, ADM'
      tags:
        - 'M01: Authentication and Profile'

      parameters:
        - in: path
          name: email
          schema:
            type: string
          required: true

      responses:
        '200':
          description: 'Successful'

  /settings:
    get:
      operationId: R109
      summary: 'R109: View Account Settings'
      description: 'Show account settings page. Access: ACO'
      tags:
        - 'M01: Authentication and Profile'

      responses:
        '200':
          description: 'Successful'
        "401":
          description: "Unauthorized"

 /api/productsAndCategories:
   get:
     operationId: R201
     summary: 'R201: Search Products and Categories API'
     description: 'Searches for products or categories and returns the results as JSON. Access: PUB.'

     tags: 
       - 'M02: Products and Categories'

     parameters:
       - in: query
         name: query
         description: String to use for full-text search
         schema:
           type: string
         required: false
       - in: query
         name: item
         description: Name of the product
         schema:
           type: string
         required: false
       - in: query
         name: category
         description: Category of the product
         schema:
           type: string
         required: false
       - in: query
         name: loaned
         description: Boolean with the loaned flag value
         schema:
           type: boolean
         required: false
       - in: query
         name: classification
         description: Integer corresponding to the work classification
         schema:
           type: integer
         required: false

     responses:
       '200':
         description: Success
         content:
           application/json:
             schema:
               type: array
               items:
                 type: object
                 properties:
                   id_book:
                     type: integer
                   title:
                     type: string
                   year:
                     type: integer
                   price:
                     type: numeric
                   book_description:
                     type: string
                   type:
                     type: string
                   publisher:
                     type: string
       '400':
          description: Bad Request
